.teste {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background: rgb(255, 213, 0);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
}

.wrapper h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: red;
    margin-bottom: .5rem;
}
textarea {
    width: 90%;
    background: white;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
}
.btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}
.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;

}

.btn-group .btn{
    background-color: red;
}

.rating .bx .bx-star{
    background: yellow;
}
