*{
    font-family: 'Manrope', sans-serif;
}
body {
    font-family: 'Manrope', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Adiciona padding para telas menores */
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 90px; /* Espaçamento entre os cartões */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card {
    flex: 0 0 calc(50% - 45px); /* Tamanho do cartão ajustado para dois cartões por vez com margem de 90px */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #333;
}

.card img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff; /* Cor de fundo branca */
}

.card-body {
    padding: 10px;
    padding-top: 80px;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-title {
    font-size: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    align-self: flex-start;
}

.card-text {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 10px;
    align-self: flex-start;
}

.card-header {
    position: relative;
}

.stars {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gold;
    font-size: 1.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel {
        gap: 20px; /* Espaçamento entre os cartões em telas menores */
        flex-wrap: nowrap; /* Evita que os cards quebrem de linha */
        overflow-x: scroll; /* Adiciona uma barra de rolagem horizontal em telas menores */
        -webkit-overflow-scrolling: touch; /* Adiciona rolagem suave no iOS */
    }

    .card {
        flex: 0 0 calc(50% - 10px); /* Dois cards por vez */
        margin-bottom: 0; /* Remove o espaço entre as linhas de cards */
    }
}

@media (max-width: 480px) {
    .carousel {
        gap: 10px; /* Espaçamento entre os cartões em telas menores */
    }

    .card {
        flex: 0 0 calc(100% - 10px); /* Um card por vez */
        margin: 0 5px; /* Adiciona margem horizontal para garantir espaçamento */
    }

    .button {
        bottom: 40px; /* Ajuste para telas menores */
        right: 10px; /* Ajuste para telas menores */
        padding: 10px 15px; /* Reduzindo o espaçamento interno */
        border-radius: 15px 25px 15px 25px; /* Ajuste das bordas arredondadas */
    }
}

.footer {
    background-color: #FFC839;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: bold;
    
    
}

.footer footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.footer-section p {
    margin: 5px 0;
    color: #333;
}

.footer-section form {
    display: flex;
    align-items: center;
    width: 100%; /* Garante que o formulário ocupe toda a largura da seção */

}

.footer-section input[type="submit"],
.footer-section button {
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}
.footer-section a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #333; /* Cor dos links */
}
.footer-section img {
    width: 150px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem seja exibida como bloco */
    margin-bottom: 10px; /* Espaçamento opcional abaixo da imagem */
}
