body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
}

.card-container {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px; /* Espaço entre os cards */
  display: grid;
  gap: 40px;
  grid-template-areas: "1 2 3 4";
  grid-auto-columns: 20%;
  justify-content: center;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-areas: "1" "2" "3" "4" "5";
    grid-auto-columns: 100%;
  }
}

.header {
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  margin-bottom: 50px;
  font-family: PoppinsMedium;
}

.icone-coracao {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .icone-coracao {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.item-card {
  border-bottom: solid thin #d3d3d3;
  background-color: #ffc839;
  border-radius: 6%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .spacing {
    padding: 0px 35px 15px 35px;
    
  }

  .imgs {
    display: column;
    justify-content: center;
  }

  .div-icon {
    text-align: right;
    img {
      margin: 15px 22px 0 0;
    }
  }

  .title {
    text-align: center;
    padding-top: 10px;
    font-size: 19px;
    font-weight: 300;
    font-family: PoppinsMedium;
  }
  @media (max-width: 768px) {
    .title {
      text-align: center;
      padding-top: 10px;
      font-size: 22px;
      font-weight: 500;
      font-family: PoppinsMedium;
    }
  }

  .subt {
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
    font-weight: 300;
    font-family: PoppinsMedium;
    height: 53px;
  }

  @media (max-width: 768px) {
    .subt {
      text-align: center;
      padding-top: 5px;
      font-size: 14px;
      font-weight: 300;
      font-family: PoppinsMedium;
      height: 53px;
    }
  
  }

  .imgs :last-child {
    text-align: center;
    img {
      margin: 10px 10px 0 0;
    }
  }

  .imagem-principal-card {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-pedir {
    text-align: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    button {
      width: 100%;
      border-radius: 10px;
      padding: 10px 15px 10px 15px;
    }
    @media (max-width: 768px) {
      button {
        width: 100%;
        border-radius: 10px;
        padding: 17px 17px 15px 17px;
        font-size: 18px;
      }
    }
  }
}

.price {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: PoppinsMedium;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  .price {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
    font-family: PoppinsMedium;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 5%;
  }
}

button {
  color: white;
  background-color: black;
  text-align: center;
  font-family: PoppinsMedium;
  padding-top: 2%;
  padding-bottom: 2%;
  border: none;
  width: 100%;
  cursor: pointer;
}
