body {
    /* margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; */
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

.profile-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px;
    text-align: center;
    max-width: 25%;
    width: 100%;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-card h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.profile-card p {
    margin: 10px 0;
    color: #555;
}